<!-- wp:template-part {"slug":"header","theme":"globetrotting-block","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"textDecoration":"none"}},"fontSize":"h2-size","fontFamily":"heading-font-domine"} -->
    <h2 class="wp-block-heading has-heading-font-domine-font-family has-h-2-size-font-size" style="text-decoration:none">LATEST BLOG POST</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"></div>
    <!-- /wp:group -->
    
    <!-- wp:query {"queryId":31,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"style":{"border":{"width":"1px"}},"borderColor":"color-dark-gray"} -->
    <div class="wp-block-column has-border-color has-color-dark-gray-border-color" style="border-width:1px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:columns {"metadata":{"name":"Box"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"width":"0px","style":"none"}}} -->
    <div class="wp-block-columns" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:column {"width":"55%","metadata":{"name":"content"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
    <div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);flex-basis:55%"><!-- wp:group {"metadata":{"name":"title"},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"isLink":true,"linkTarget":"_blank","style":{"typography":{"textDecoration":"none","textTransform":"capitalize","letterSpacing":"1.5px"},"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}}},"textColor":"color-maroon","fontSize":"h4-size","fontFamily":"heading-font-domine"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"metadata":{"name":"content"},"style":{"typography":{"lineHeight":"1.8"}},"fontSize":"body-size","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group has-body-size-font-size" style="line-height:1.8"><!-- wp:post-excerpt {"style":{"elements":{"link":{"color":{"text":"var:preset|color|color-body-text"}}}},"textColor":"color-body-text","fontSize":"body-size","fontFamily":"body-font-open-sans"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"45%","metadata":{"name":"image"}} -->
    <div class="wp-block-column" style="flex-basis:45%"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","linkTarget":"_blank","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}}} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"border":{"top":{"style":"none","width":"0px"},"bottom":{"width":"0px","style":"none"},"right":[],"left":[]},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"backgroundColor":"color-light-gray","fontSize":"small","fontFamily":"body-font-open-sans","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
    <div class="wp-block-group has-color-light-gray-background-color has-background has-body-font-open-sans-font-family has-small-font-size" style="border-top-style:none;border-top-width:0px;border-bottom-style:none;border-bottom-width:0px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:paragraph -->
    <p>By:</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-author-name /-->
    
    <!-- wp:post-date /-->
    
    <!-- wp:paragraph -->
    <p>Rate: <img class="wp-image-29" style="width: 21px;" src="http://localhost/dmit2032/assignment3-jtan31/wp-content/uploads/2024/06/star.png" alt=""><img class="wp-image-29" style="width: 21px;" src="http://localhost/dmit2032/assignment3-jtan31/wp-content/uploads/2024/06/star.png" alt=""><img class="wp-image-29" style="width: 21px;" src="http://localhost/dmit2032/assignment3-jtan31/wp-content/uploads/2024/06/star.png" alt=""></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query -->
    
    <!-- wp:group {"align":"full","layout":{"type":"constrained","contentSize":"80%"}} -->
    <div class="wp-block-group alignfull"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"textDecoration":"none"}},"fontSize":"h3-size","fontFamily":"heading-font-domine"} -->
    <h2 class="wp-block-heading has-heading-font-domine-font-family has-h-3-size-font-size" style="text-decoration:none">what WE OFFER</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":28,"sizeSlug":"full","linkDestination":"none","align":"center"} -->
    <figure class="wp-block-image aligncenter size-full"><img src="https://jtan31.dmitstudent.ca/dmit-2032/assignment3/wp-content/uploads/2024/06/icon-2.png" alt="" class="wp-image-28"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}},"typography":{"textTransform":"capitalize"}},"textColor":"color-maroon","fontSize":"h5-size"} -->
    <h2 class="wp-block-heading has-text-align-center has-color-maroon-color has-text-color has-link-color has-h-5-size-font-size" style="text-transform:capitalize">Small Groups</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","fontSize":"body-size"} -->
    <p class="has-text-align-center has-body-size-font-size">12 people max, explore places off-limits to big groups. No big buses, just our unique style!</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"id":27,"sizeSlug":"full","linkDestination":"none","align":"center"} -->
    <figure class="wp-block-image aligncenter size-full"><img src="https://jtan31.dmitstudent.ca/dmit-2032/assignment3/wp-content/uploads/2024/06/icon-1.png" alt="" class="wp-image-27"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}},"typography":{"textTransform":"capitalize"}},"textColor":"color-maroon","fontSize":"h5-size"} -->
    <h2 class="wp-block-heading has-text-align-center has-color-maroon-color has-text-color has-link-color has-h-5-size-font-size" style="text-transform:capitalize">Unique</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","fontSize":"body-size"} -->
    <p class="has-text-align-center has-body-size-font-size">Unique tours, handcrafted itineraries for the ultimate experience. No two alike!</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"id":26,"sizeSlug":"full","linkDestination":"none","align":"center"} -->
    <figure class="wp-block-image aligncenter size-full"><img src="https://jtan31.dmitstudent.ca/dmit-2032/assignment3/wp-content/uploads/2024/06/icon.png" alt="" class="wp-image-26"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}},"typography":{"textTransform":"capitalize"}},"textColor":"color-maroon","fontSize":"h5-size"} -->
    <h2 class="wp-block-heading has-text-align-center has-color-maroon-color has-text-color has-link-color has-h-5-size-font-size" style="text-transform:capitalize">Personal</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","fontSize":"body-size"} -->
    <p class="has-text-align-center has-body-size-font-size">100% local contacts, direct cultural connections, full immersion in local culture – everywhere you go</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"globetrotting-block","area":"footer"} /-->