<!-- wp:group {"layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header-inner","theme":"globetrotting-block","area":"header"} /-->

    <!-- wp:post-featured-image {"height":"300px","align":"wide"} /-->
    
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
    <main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide"><!-- wp:post-title {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}},"typography":{"textTransform":"capitalize"}},"textColor":"color-maroon","fontSize":"h2-size","fontFamily":"heading-font-domine"} /-->
    
    <!-- wp:post-content {"align":"full","fontSize":"body-size"} /-->
    
    <!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-maroon"}}}},"textColor":"color-maroon","fontSize":"body-size","fontFamily":"body-font-open-sans","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group alignfull has-color-maroon-color has-text-color has-link-color has-body-font-open-sans-font-family has-body-size-font-size"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|color-body-text"}}}},"textColor":"color-body-text"} -->
    <p class="has-color-body-text-color has-text-color has-link-color"><strong>Tags:</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-terms {"term":"post_tag"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"globetrotting-block","area":"footer"} /--></div>
    <!-- /wp:group -->