body{
    font-family: "Poppins", sans-serif;
}

.k-font-color-gold{
    color: #C19C4D;
}

.k-bg-color-gold{
    background-color: #C19C4D;
}

.k-font-cormorant{
    font-family: 'Cormorant Garamond', serif;
}